<html>
	<head>
		<title>Product list</title>
	</head>
	<body>
		<div>
			<h2>Product list</h2>
			<table border="2">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Brand</th>
						<th>MadeIn</th>
						<th>price</th>
						<th>Quantity</th>
						<th>discountrate</th>
						<th>offerprice</th>
						<th>taxrate</th>
						<th>finalprice</th>
						<th>stockValue</th>
						<th>discountprice</th>
						<th>Action</th>
						</tr>
						</thead>
						<tbody>
							<tr th:each="product:${products}">
						    <td th:text="${product.id}"></td>
							<td th:text="${product.name}"></td>
							<td th:text="${product.brand}"></td>
							<td th:text="${product.madeIn}"></td>
							<td th:text="${product.price}"></td>
							<td th:text="${product.Quantity}"></td>
							<td th:text="${product.discountrate}"></td>
							<td th:text="${product.offerPrice}"></td>
							<td th:text="${product.taxRate}"></td>
							<td th:text="${product.finalPrice}"></td>
							<td th:text="${product.stockValue}"></td>
							<td th:text="${product.discountPrice}"></td>
							<td>
							<a th:href="@{'/delete/'+${product.id}}">Delete</a>
							<a th:href="@{'/edit/'+${product.id}}">Edit</a>
							</td>
							</tr>
						</tbody>
						
			</table>
		</div>
	</body>
</html>